/* * {
		margin: 0;
		padding: 0;
	}
 */
	.box {
		width: 90%;
		margin: 0 auto;
		border: 1px solid #ff6700;
		overflow: hidden;
	}

	.animate {
		padding-left: 20px;
		font-size: 20px;
		color: #eee;
		display: inline-block;
		white-space: nowrap;
		animation: 10s wordsLoop linear infinite normal;
	}

	@keyframes wordsLoop {
		0% {
			transform: translateX(200px);
			-webkit-transform: translateX(200px);
		}
		100% {
			transform: translateX(-100%);
			-webkit-transform: translateX(-100%);
		}
	}

	@-webkit-keyframes wordsLoop {
		0% {
			transform: translateX(200px);
			-webkit-transform: translateX(200px);
		}
		100% {
			transform: translateX(-100%);
			-webkit-transform: translateX(-100%);
		}
	}