<!DOCTYPE html>
<html style="font-size: 54px;">
<head lang="en">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta charset="UTF-8">
    <title></title>
    <script src="../../js/l/jquery-2.1.4.min.js"></script>
    <script src="../../js/l/jquery.mobile-1.4.4.min.js"></script>
    <link rel="stylesheet" href="../../css/t/tab2_1.css">
	<link rel="stylesheet" type="text/css" href="../../css/t/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
	<style type="text/css">
		.menus .active {
		    background: #fff;
		    color: #FF4500 !important;
		    display: block;
		}
		.title.active{
			color: #FF4500 !important;
			font-size: 12px;
		}
		.type li {
			padding-top: 5px;
		}
	</style>
</head>
<body class="" style="font-size: 12px;background:#fff">
<div id="main_plane">
    <!-- 菜单 -->
    <ul id="left-list" class="menus" style="padding-bottom: 40px;">
        <li v-for="item in items" v-cloak>
            <a :href=" '#'+item.id " class="menu" onclick="aSkip($(this))">{{item.title}}</a>
        </li>
    </ul>
    <!-- 商品列表 -->
    <div id="right" class="all_list" style="padding-top: 0px; padding-bottom: 20px;background-color: transparent;">
			<ul class="mui-table-view" v-for="(value,key) in items" v-cloak>
				<div class="type" :id="key">
				    <p class="title" style="font-size: 15px;">{{_getTitle(key)}}</p>
				    <ul>
				        <li v-for="item in value">
				            <div style="display: flex;">
				            	<div >
				            		<img  :src="item.icon" style="height: 80px;width: 80px; border-radius: 6px;">
				            	</div>
				            	<div style="margin-left: 8px; ">
				            		<div class="mui-ellipsis-2"  style="color: #333;font-size: 15px;">
				            		    {{item.title}}
				            		</div>
				            		<div class="" style="padding-top: 2px; padding-bottom: 6px;">月销:{{item.sale}}
					<button type="button" class="mui-btn mui-btn-blue" style=" margin-left: 40px;">＋</button>				
									</div>
				            		<div>
				            			<span style="color:orangered;">¥:{{item.money}}</span>
				            		</div>
				            	</div>
				            </div>
				        </li>
				    </ul>
				</div>
			</ul>	
		</div>
</div>

<div style=" width: 100%; height: 50px; position: fixed;bottom: 0px; background-color: #f6f6f6; ">
	<!-- <div style="padding-top: 10px; background-color: #F0AD4E;margin-left: 30px; margin-right: 30px; border-radius: 15px;">
		
		<div  style="margin-left: 70%; background-color: transparent; border-width: 0; color: #eee;">12</div>
	</div> -->
</div>
</body>
<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/l/base-data.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/l/tab2_1.js"></script>
<script src="../../libs/vue.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	var leftv = new Vue({
		el:'#left-list',
		data:{
			items:MENU_DATA
		},
		methods:{
			click:function(e){
				var eid = e['id'];
				console.log("eid: " + JSON.stringify(eid));
				document.getElementById(eid).scrollIntoView({behavior:'auto'});
			},
	
		}
	});
	
	var rightv = new Vue({
		el:'#right',
		data:{
			items:SUB_MENU_DATA
		},
		methods:{
			_getTitle:function(k){
				return MENU_TitleForId[k] || '其他';
			}
		}
	});
	
</script>
</html>